#card-slider {
  color: #333;
}

.card {
  &__link {
    display: block;
    color: #000;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    font-size: 1.5rem;
  }

  &__btn {
    margin-bottom: 2rem;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    transition: all 0.2s;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);

    &:focus {
      outline: none;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &--4 {
    background-position: center bottom !important;
  }

  &__slide {
    & > h4 {
      padding: 1rem 0 0.2rem;
    }

    & > p {
      font-size: 1.4rem;
      padding: 0 2rem 1rem;
    }
  }
}
