.nav {
  background-color: #fff;
  // background-image: linear-gradient(#ffae00, #fa5f16);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.4rem 7rem;
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  &__item {
    justify-self: center;
  }

  &__link {
    color: #111;
    text-decoration: none;
  }

  &__brand {
    font-family: 'Europhonic', Cursive;
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: bold;
  }
}
